/* font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');

/* base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: rgba(39, 39, 39, 1);
}

/* common styles */

.primary-content {
    margin-left: 150px;
    margin-right: 150px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #E55473;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #e85d7b;
    transition: all 0.3s ease;
    box-shadow: #dad9d9 1px 1px 1px 1px;
}

.btn:hover {
    background-color: #FCEEF1;
    color: #E55473;
}

a {
    text-decoration: none;
    color: #E55473;
}

a:hover {
    text-decoration: underline;
}

/* header */
header {
    height: 80vh;
    background: rgba(229, 84, 115, 0.10);
}

header .primary-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_content {
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

.banner__texts {
    padding-top: 20px;
    text-align: left;
    padding-bottom: 20px;
    width: 50%;
    
}

.banner__text {
    font-size: 55px;
    font-weight: 900;
    padding-bottom:15px;
}

.banner__description {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;
    color: #27272798;
}

.banner__img {
    flex: 30%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    text-align: right;
    /* border: 1px solid #000000; */
}

/* section */
section {
    padding: 100px 0;
}


.flower__section {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flower__section__title {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 15px;
}

.flower__section__description {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;
    color: #27272798;
}

.flower__products {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.flower__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  gap : 24px;
  /* border: 1px solid #000000; */
}

.flower__img {
  height: 475px;
  width: 460px;
  border-radius: 300px 300px 0 0;
  object-fit: contain;
}

.img1 {
  background: rgba(167, 33, 98, 0.15);
 
}

.img2 {
  background: rgba(5, 151, 160, 0.15);

}

.img3 {
  background: rgba(71, 125, 17, 0.15);
 
}

.flower__title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  text-decoration: underline;
}

/* support */

.support__container {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 0 70px;
  margin-bottom: 10vh;
}

.support__container img {
  width: 50px;
  padding-bottom: 10px;
}

.support__container p {
  font-weight: 600;
  font-size: 16px;
  color: rgba(39, 39, 39, 0.8);
}

/* hotdeals */
.hotdeal__section {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  height: 70vh;
  text-align: center;
}

.hotdeal__contents {
  padding-top: 8vh;
  display: flex;
  justify-content: space-around;
  height: 50vh;
  align-items: center;
}

.hotdeal__contents h2 {
  font-weight: 800;
  font-size: 30px;
  padding-bottom: 11px;
}

span {
  color: #E55473;
}

.hotdeal__contents p {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 13px;
  color: #27272798;
}

.hotdeal__image {
  width: 200px;
  height: auto;
  object-fit: contain;
  padding-bottom: 25px;
}

/* insta */

.insta__section {
  height: 75vh;
  text-align: center;
  padding-top: 15vh;
}

.insta__section h2 {
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 11px;
}

.insta__section p {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 35px;
  color: #27272798;
}

.insta__container {
  display: flex;
  justify-content: space-between;
  height: 45vh;
}

.insta__image-1,
.insta__image-2,
.insta__image-3,
.insta__image-4 {
  flex: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Latest Deal */
.get-latest__deal {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.get-deal__active-part {
  border-radius: 8px;
  background-image: url('../Flower Asset/Rectangle\ 9.png');
  background-color: lightgray;
  background-size: cover;
  height: 55vh;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.get-deal__active-part h2 {
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 11px;
}

.get-deal__active-part p {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 35px;
  color: #27272798;
}

.get-deal__active-part input {
  width: 450px;
  padding-left: 15px;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: #FFF;
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  font-size: 16px;
}

/* footer */

.footer__Container {
  height: 60vh;
  background-color: #111010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__Container h1 {
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 15px;
  color: white;
}

.footer__Container p {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 35px;
  color: rgba(255, 255, 255, 0.9);
  font-stretch: semi-expanded;
}

.footer__Container small {
  font-stretch: semi-expanded;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4)
}